@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: gray;
	overflow-x: hidden !important;
}

.content {
	display: flex;
	flex-wrap: wrap;
	padding-left: 50px;
	justify-content: center;
	overflow: hidden;
	max-width: 100% !important;
	overflow-x: hidden !important;
}

.nav_logo {
	width: 50px;
	object-fit: contain;
}

.nav {
	background-color: rgb(56, 56, 56);
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	z-index: 1;
	transition-timing-function: ease-in;
}

.join-box {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	margin-left: auto;
}

.join-msg {
	color: #fff;
	text-transform: uppercase;
}

a {
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.row {
	border: 1px;
	padding: 5px;
	color: white;
	max-width: 200px;
}

.row_image {
	width: 100%;
	object-fit: contain;
	max-height: 200px;
	margin-right: 10px;
	transition: transform 450ms;
	padding-right: 10px;
}

.row_image:hover {
	transform: scale(1.08);
}

.fav {
	bottom: 0;
	left: 0;
	background: rgba(151, 151, 151, 0.72);
	color: white;
}

.readLater {
	position: relative;
	bottom: 0;
	right: 0;
	background: rgba(151, 151, 151, 0.72);
	color: white;
}