<h2>hello {{name}}</h2>

<h1>Update Book</h1>
<form [formGroup]="book" (ngSubmit)="updateBook()">    
<input type="text" placeholder="Enter book id" name="book_id" formControlName="book_id">
<br/>
<br/>    
<input type="text" placeholder="Enter book name" name="title" formControlName="title">
<br/>
<br/>
<input type="text" placeholder="Enter totalpages" name="total_pages" formControlName="total_pages">
<br/>
<br/>
<input type="text" placeholder="Enter rating" name="rating" formControlName="rating">
<br/>
<br/>
<input type="text" placeholder="Enter ISBN" name="isbn" formControlName="isbn">
<br/>
<br/>
<button>Update Book</button>
</form>