<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
    <h1>Welcome To BookStore....</h1>
    <h4>Login to get into application </h4><h6>signup if not....</h6>
  </header>
</div>
