<p>admin-registration</p>
<form [formGroup]="admin" (ngSubmit)="addAdmin()">   
<input type="text" placeholder="Enter name" name="name" formControlName="name">
<br/>
<br/>
<input type="text" placeholder="Enter email" name="email" formControlName="email">
<br/>
<br/>
<input type="password" placeholder="Enter password" name="password" formControlName="password">
<br/>
<br/>
<input type="password" placeholder="Enter system code" name="systemCode" formControlName="systemCode">
<br/>
<button>Register</button>
</form>